**/.git
**/.vs
**/bin
**/obj
**/out
**/*.user
**/*.suo
**/node_modules
**/.env
**/.env.*
**/appsettings.json
**/appsettings.*.json
!**/appsettings.example.json
**/publish-test
**/fly.toml
**/README.md
**/*.md
